<html>

<head>
	<title>title</title>
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>

<body>
	
	<table id="myTable" class="display" style="width:100%"></table>
	
	<button onclick="seyHello()">Say Hello</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>